name: docker-publish

on:
  #schedule:
    # * is a special character in YAML so you have to quote this string
    #- cron: "0 0 * * 0"

  repository_dispatch:
    types: [pretext-publish]

  workflow_dispatch:
    inputs:
      container:
        description: "Which docker image(s) to rebuild"
        required: true
        type: choice
        default: "all"
        options:
          - "all"
          - "base"
          - "full"

jobs:
  build:
    runs-on: ubuntu-latest
    environment: DelayedDeploy # waits 10 minutes before deploying
    steps:
      - name: check disk space
        run: df . -h
      - name: Free disk space (only needed for 'full' container)
        if: ${{ github.event.inputs.container == 'all' || github.event.inputs.container == 'full' || github.event.inputs.container == '' }}
        run: |
          sudo docker rmi $(docker image ls -aq) >/dev/null 2>&1 || true
          sudo rm -rf \
            /usr/share/dotnet /usr/local/lib/android /opt/ghc \
            /usr/local/share/powershell /usr/share/swift /usr/local/.ghcup \
            /usr/lib/jvm || true
          echo "some directories deleted"
          sudo apt install aptitude -y >/dev/null 2>&1
          sudo aptitude purge aria2 ansible azure-cli shellcheck rpm xorriso zsync \
            esl-erlang firefox gfortran-8 gfortran-9 google-chrome-stable \
            google-cloud-sdk imagemagick \
            libmagickcore-dev libmagickwand-dev libmagic-dev ant ant-optional kubectl \
            mercurial apt-transport-https mono-complete libmysqlclient \
            unixodbc-dev yarn chrpath libssl-dev libxft-dev \
            libfreetype6 libfreetype6-dev libfontconfig1 libfontconfig1-dev \
            snmp pollinate libpq-dev postgresql-client powershell ruby-full \
            sphinxsearch subversion mongodb-org azure-cli microsoft-edge-stable \
            -y -f >/dev/null 2>&1
          sudo aptitude purge google-cloud-sdk -f -y >/dev/null 2>&1
          sudo aptitude purge microsoft-edge-stable -f -y >/dev/null 2>&1 || true
          sudo apt purge microsoft-edge-stable -f -y >/dev/null 2>&1 || true
          sudo aptitude purge '~n ^mysql' -f -y >/dev/null 2>&1
          sudo aptitude purge '~n ^php' -f -y >/dev/null 2>&1
          sudo aptitude purge '~n ^dotnet' -f -y >/dev/null 2>&1
          sudo apt-get autoremove -y >/dev/null 2>&1
          sudo apt-get autoclean -y >/dev/null 2>&1
          echo "some packages purged"
      - name: check disk space final
        run: df . -h
      - name: Checkout
        uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Read version from version.txt
        run: |
            VERSION=$(cat version.txt | tr -d '\n')
            echo "Container version to deploy: $VERSION"
            echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Build and push base
        if: ${{ github.event.inputs.container == 'all' || github.event.inputs.container == 'base' || github.event.inputs.container == '' }}
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          context: .
          file: ./base/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/pretext:${{ env.VERSION }},${{ secrets.DOCKERHUB_USERNAME }}/pretext:latest

      - name: Build and push full
        if: ${{ github.event.inputs.container == 'all' || github.event.inputs.container == 'full' || github.event.inputs.container == '' }}
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          context: .
          build-args: BASE_IMAGE_TAG=${{ env.VERSION }}
          file: ./full/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/pretext-full:${{ env.VERSION }},${{ secrets.DOCKERHUB_USERNAME }}/pretext-full:latest
